@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 2rem;
    font-size: 1.10rem;
}

ul {
    line-height: 2rem;
    font-size: 1.10rem;
}

/* header part  */
header p {
    color: gray;
}

article .single-post p:last-child {
    background: #2525a2;
    color: #fff;
    padding: 1px 5px 1px 5px;
}

/* side navigation */
#side-nav .item {
    color: #374151 !important;
}

article span {
    color: #161688;
    background: #d2d2dd;
    padding: 4px;
    border-radius: 2px;
}

.single-post p {
    font-size: 0.9rem;
}
.navigation ul {

}
